<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>

    <link href="../styles/subPageStyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../styles/admin/register-login.css">

</head>
<body>

    <div class="upperMenu header">
        <s>Management</s>
        <button id="settings" class="upperMenuButton"><i class="fa-solid fa-sliders fa-xs"></i></button>
        <button id="terug" class="upperMenuButton"><a href="/">
        <i class="fa-solid fa-reply fa-xs"></i></a></button>
    </div>
    
    <div class="content">
        <div class="rightbox">
            <h1>Login</h1>

            <% if (messages.error) { %>
                <div class="error">
                    <p><%= messages.error %></p>
                </div>
            <% } %>

            <form action="/admin/login" method="POST">
                <h2>username</h2>
                <input type="text" class="input" placeholder="enter username..." id="username" name="username" required>
                <h2>Password</h2>
                <input type="password" placeholder="enter password..." class="input" id="password" name="password" required>
                <button class="btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>