.item {
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 3px solid #39647c;
    border-radius: 10%;
    display: inline-flex;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: left;
    box-shadow: 0 10px 10px rgba(119, 119, 119, 0.5);
}
.item:hover {
    width: 160px;
    height: 155px;
    margin: 5px;
    box-shadow: 0 15px 15px rgba(119, 119, 119, 0.5);
    cursor: pointer;
}
.gameImage {
    width: 85%;
    display: inline-block;
    margin: auto;
}
#winScreen {
    width: 300px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 2vh solid rgba(135, 171, 126, 1);
    border-radius: 2vh;

    display: none;
    position: fixed;
    z-index: 1;

    text-align: center;
    align-items: center;
    top: 20%;
    right: 37.5%;
    padding: 90px 0 0 0;
    font-size: 32px;
}
#restartButton {
    height: 60px;
    width: 120px;
    box-shadow: 5px 10px 10px rgba(119, 119, 119, 0.5);
    border-color: rgba(135, 171, 126, 0.75);
    border-width: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    transform: none;
    float: inherit;
    display: inline-block;
    top: 50px;
}
#restartButton:hover {
    height: 70px;
    width: 130px;
}