body {
    background-image: url("../../assets/images/Aarde 3.jpg");
    background-size: 100%;
    background-color: #39647c;
    background-repeat: no-repeat;
    background-position: -200%;
    background-attachment: fixed;
    font-family: Calibri, sans-serif;
    alignment: center;
    max-width: 900px;
    min-width: 125px;
    margin: auto;
}
div {
    margin: 5px auto;
    box-sizing: content-box;
}
button {
    height: 30px;
    background-color: white;
    border-color: #39647c;
    border-width: 1px;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    float: right;
    transform: translateY(-10%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.upperMenu {
    background-color: white;
    border-radius: 10px;
    fill-opacity: 90%;
    padding: 10px 20px;
    text-align: left;
}
.title {
    font-size: 18px;
    padding: 0;
    text-decoration: none;
}
.content {
    text-align: left;
    border-radius: 5px;
    box-sizing: content-box;
    background-color: rgba(245, 255, 254, 0.8);
    padding: 10px;
}
.item {
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 3px solid #39647c;
    border-radius: 10%;
    display: inline-flex;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: left;
    box-shadow: 0 10px 10px rgba(119, 119, 119, 0.5);
}
.item:hover {
    width: 160px;
    height: 155px;
    margin: 5px;
    box-shadow: 0 15px 15px rgba(119, 119, 119, 0.5);
}
.gameImage {
    width: 85%;
    display: inline-block;
    margin: auto;
}
.sideButton {
    height: 35px;
    width: 75px;
    box-shadow: 5px 10px 10px rgba(119, 119, 119, 0.5);
    border-color: rgba(135, 171, 126, 0.75);
    border-width: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;

    display: block;
    position: fixed;
    justify-content: center;
    z-index: 1;
    align-items: center;
    text-align: center;
    top: 10vh;
    right: 5vw;
}
.sideButton:hover {
    height: 40px;
    width: 80px;
}

/* Memory */
.card {
    border: 2px solid #2e3246;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(119, 119, 119, 0.5);
    height: 150px;
    margin: 10px;
    padding: 7px;
    width: 100px;
}
.card:hover {
    width: 110px;
    height: 160px;
    margin: 5px;
    box-shadow: 0 15px 15px rgba(119, 119, 119, 0.5);
}
/* End memory */

/* Noughts and crosses*/
.container {
    width: 223px;
    background: rgba(135, 171, 126, 0.75);
    padding: 10px;
    border-radius: 8px;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.box {
    min-width: 70px;
    min-height: 70px;
    display: inline-block;
    border: 2px solid #2e3246;
    background: white;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 55px;
}
.box:hover {
    background: rgba(202, 224, 200, 0.75);
    transition: 0.2s ease-in;
}
.box h1 {
    line-height: 70px;
    margin: 0;
}
.noughtsCrosses {
    width: 300px;
}
/* End noughts and crosses*/