<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">Tulip Weather</title>
    <link href="../styles/SubPageStyleWeather.css" rel="stylesheet" type="text/css">
    <link href="../styles/subPageStyle.css" rel="stylesheet" type="text/css">
    <link href="../styles/weatherStyle.css" rel="stylesheet" type="text/css">
    <link href="../styles/sights.css" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>
</head>
<body>
<div class="upperMenu">
    <s class="title">Destination information</s>
    <button class="upperMenuButton" id="settings"><i class="fa-solid fa-sliders fa-xs"></i></button>
    <button class="upperMenuButton" id="back"><a href="/"> <i class="fa-solid fa-reply fa-xs" style=""></i></a></button>
</div>
<div class="topnav" id="myTopNav">

    <a  class="active" id="home" href="/destination"> <button>Home</button></a>

    <a href="/destination/weather"><button>Weather</button></a>

    <a href="/destination/sights"><button>Sights</button></a>
</div>
<section class="article-content">
<div class="main-content">

    <section class="page-header white-base ">
			<section class="article-content">
			<h1>Attractions in Dublin</h1>
				<div class="wrapper header-image section-highlight-border"
				style="background-image: url('https://cdn.dublin.ie/wp-content/uploads/1.7.1-Live-Things-to-do-Attractions_664x500.jpg');">

				</div>
						</section>
		</section>
		<section class="article-content-container" style=" ">
	<div class="article-content" style="">
		<h2>The Big Hitters</h2>
<p>One of the biggest <a href="https://dublin.ie/live/" target="_blank" rel="noopener">benefits of living in Dublin</a> is the huge choice of world-class
<a href="https://dublin.ie/live/things-to-do/galleries/" target="_blank" rel="noopener">galleries</a>,
<a href="https://dublin.ie/live/things-to-do/museums/" target="_blank" rel="noopener">museums</a> and cultural attractions located right on your doorstep. Dublin’s rich history and culture means you’ll never run out of interesting places to visit. Best of all, many of them are free. Below, we run through some of the best attractions in Dublin.</p>
<h3><a href="https://www.tcd.ie/visitors/book-of-kells/" target="_blank" rel="noopener">The Book of Kells at Trinity College</a></h3>
<p>The Book of Kells is a 9th-century copy of the Gospels. It is spectacularly ornate, completely unique and impeccably preserved. During your visit, you’ll also pass through Trinity College’s iconic Long Room Library – which is worth the trip alone. Right in the heart of Dublin, this attraction should be one of the first you tick off your list.</p>
<h3><a href="https://www.guinness-storehouse.com/en" target="_blank" rel="noopener">The Guinness Storehouse</a></h3>
<p>Since 1759, the home of Guinness has been right here at St James’ Gate. And with a 9,000-year lease, it won’t be going anywhere any time soon.</p>
<p>During a visit to the Storehouse, you’ll find out how Guinness is made and discover the story of how it came to be one of the world’s most successful brands. You’ll finish off by tasting a pint of the black stuff while enjoying a 360-degree view of the city.</p>
<p>If you have an ancestor that worked in Guinness, you should also check the company’s genealogy records too.</p>
<div id="attachment_49445" style="width: 674px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-49445" loading="lazy" class="wp-image-49445 size-full" src="https://cdn.dublin.ie/wp-content/uploads/1.7.1-Live-Things-to-do-Attractions_664x400_1.jpg" alt="Guinness Storehouse" width="664" height="400"><p id="caption-attachment-49445" class="wp-caption-text">Gates of the Guinness Storehouse Dublin</p></div>
<h3><a href="https://jeaniejohnston.ie/" target="_blank" rel="noopener">The Jeanie Johnston</a></h3>
<p>Climb aboard The Jeanie Johnston Famine Ship and experience a remarkable voyage of despair, hope, endurance and triumph against all odds.</p>
<p>You’ll hear the tales of Irish emigrants who embarked on the treacherous journey across the Atlantic in the hopes of starting a new life. During the Great Famine, roughly 1.5 million Irish people left for North America. But at least 100,000 of them died during their voyage. However, the beautiful Jeanie Johnston tall ship is unique because she never lost a single passenger or crew member.</p>
<h3><a href="http://botanicgardens.ie/" target="_blank" rel="noopener">National Botanic Gardens</a></h3>
<p>Open daily and free to enter, the National Botanic Gardens is home to some of the lushest and most beautiful horticultural delights Ireland has to offer. It has over 15,000 plant species, 300 endangered species and six that are already extinct in the wild.</p>
<p>Its beautiful Victorian-style glasshouses house some of the most exotic offerings. Different tours and exhibitions are often on offer in the grounds too.</p>
<h3><a href="https://www.stpatrickscathedral.ie/" target="_blank" rel="noopener">St. Patrick’s Cathedral</a></h3>
<p>This Church of Ireland cathedral is breathtakingly beautiful and historically significant. But it is also a place of worship – 800 years after it was originally built.</p>
<p>Enjoy stunning architecture, vibrant stained glass windows and grab a cup of coffee in the charming park attached. If you can, try to visit during a choral recital. The cathedral’s choir performed at the world premiere of Handel’s Messiah back in 1742 – as did Christ Church Cathedral’s. Their musical tradition remains strong to this day.</p>
<div id="attachment_49444" style="width: 674px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-49444" loading="lazy" class="wp-image-49444 size-full" src="https://cdn.dublin.ie/wp-content/uploads/1.7.1-Live-Things-to-do-Attractions_664x400_4.jpg" alt="Christ Church Cathedral" width="664" height="400"><p id="caption-attachment-49444" class="wp-caption-text">Christ Church Cathedral Dublin</p></div>
<h3><a href="https://christchurchcathedral.ie/" target="_blank" rel="noopener">Christ Church Cathedral</a></h3>
<p>Christ Church is just a stone’s throw away from St. Patrick’s Cathedral. So, if you’re visiting one, make sure to pop into the other.</p>
<p>Christ Church is a 1,000 year old Viking cathedral. It is home to religious relics, Ireland’s first Magna Carta and Strongbow’s tomb, making it one of Dublin’s biggest attractions.</p>
<h3><a href="http://www.dublincastle.ie/" target="_blank" rel="noopener">Dublin Castle</a></h3>
<p>Built on the site of an old Viking settlement back in the 13th century, Dublin Castle was once the seat of British rule in Ireland. Today it’s where Ireland’s presidents are inaugurated.</p>
<p>Its sprawling buildings have seen centuries of victories and defeats, but it remains a stalwart feature upon the changing face of Dublin. The castle sits right in the heart of the city, but you could easily miss the entrance. You’ll find it just off Dame Street – one of Dublin’s busiest thoroughfares.</p>
<p>Catch a choir performance in the chapel, tour the State Apartments, explore the beautiful gardens or view the latest exhibition in the Coach House Gallery. One of Dublin’s best museums, the Chester Beatty, is also located round back, so this is one Dublin attraction definitely worth exploring.</p>
<h3><a href="http://phoenixpark.ie/" target="_blank" rel="noopener">Phoenix Park</a></h3>
<p>As Europe’s largest enclosed city park, the Phoenix Park provides an escape from the hustle bustle of city life. Even though it is only a short distance from the city centre.</p>
<p>The park is home to a beautiful array of local flora and fauna, including a herd of fallow deer. Half of Ireland’s mammal species and 40% of its birds reside here too. Nestled within the park, you’ll also find key Dublin attractions like <a href="https://dublinzoo.ie/" target="_blank" rel="noopener">Dublin Zoo</a>, <a href="https://farmleigh.ie/" target="_blank" rel="noopener">Farmleigh Estate</a>, the <a href="https://dublin.ie/live/stories/dublin-treasures-aras-an-uachtarain/" target="_blank" rel="noopener">President’s House</a> and the <a href="https://phoenixpark.ie/what-to-see/" target="_blank" rel="noopener">Phoenix Park Visitor Centre</a>.</p>
<div id="attachment_47546" style="width: 674px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-47546" loading="lazy" class="wp-image-47546 size-full" src="https://cdn.dublin.ie/wp-content/uploads/1.1.2-People-and-culture_Phoenix-Park_664x400.jpg" alt="Phoenix Park" width="664" height="400"><p id="caption-attachment-47546" class="wp-caption-text">The Phoenix Park in autumn</p></div>
<h3><a href="https://www.gpowitnesshistory.ie/" target="_blank" rel="noopener">GPO Witness History</a></h3>
<p>On O’Connell Street, you’ll see the General Post Office which is one of the grandest Georgian buildings in Dublin. Back in 1916, it was also a revolutionary stronghold during Ireland’s most famous rebellion against British rule – the Easter Rising. Today, the building is home to a museum which remembers the events that took place here.</p>
<p>Through an immersive and interactive self-guided tour, you’ll learn the story of rising and the events that have taken place since.</p>
<h3><a href="http://www.leprechaunmuseum.ie/" target="_blank" rel="noopener">The National Leprechaun Museum</a></h3>
<p>For over a decade, Dublin’s Leprechaun Museum has carried on Ireland’s storytelling tradition. Through its immersive tour, visitors learn about the history of Irish mythology and legends. They’ll come out with some great tales to tell too.</p>
<h2>The hidden gems</h2>
<h3><a href="https://www.marshlibrary.ie/" target="_blank" rel="noopener">Marsh’s Library</a></h3>
<p>Located just beside St. Patrick’s Cathedral, Marsh’s Library was Ireland’s first public library. Since it opened back in 1707, very little has changed. Its dark oak interior, along with thousands of books, have been perfectly preserved.</p>
<p>With quirky exhibitions and beautiful books dating as far back as the Renaissance, Marsh’s Library is a book lover’s dream.</p>
<h3><a href="https://www.visitdublin.com/see-do/details/st-michan-s-church" target="_blank" rel="noopener">St Michan’s Church</a></h3>
<p>Founded in 1095, St Michan’s is the oldest church on Dublin’s northside. What makes it particularly special is hidden beneath the floorboards. Here you’ll find the mummified remains of some of the city’s wealthiest and most influential families from the 17th, 18th and 19th centuries. Among them is the mother of Bram Stoker – the Irish writer who gave us <em data-redactor-tag="em">Dracula</em>.</p>
<h3><a href="http://www.whitefriarstreetchurch.com/index.php/the-church/shrines/saint-valentine" target="_blank" rel="noopener">The relics of St Valentine</a></h3>
<p>From the outside, Whitefriar Street Church is plain and relatively unassuming. But step inside and you’ll find a whole host of religious shrines, including one containing the remains of St Valentine. And what romantic wouldn’t want to stand at the feet of the patron saint of love himself?</p>
<h3><a href="https://www.teelingwhiskey.com/" target="_blank" rel="noopener">Teeling Whiskey Distillery</a></h3>
<p>Based in Newmarket Square to the south of the city, this tour allows you to explore the sights and sounds of Teeling’s fully operational distillery. You’ll get an opportunity to taste the end product too.</p>
<p>If doing some Dublin sightseeing is high on your bucket list, you’ll find more great attractions in our guide to the city’s <a href="https://dublin.ie/live/things-to-do/museums/" target="_blank" rel="noopener">museums</a>, <a href="https://dublin.ie/live/things-to-do/galleries/" target="_blank" rel="noopener">galleries</a> and <a href="https://dublin.ie/live/things-to-do/markets/" target="_blank" rel="noopener">markets</a> too.</p>
	</div>
</section>

</div>    <!-- Loop Simple Cards (Title: you might also like...) -->
    <section class="cards variable-sizes" style="background-image: url('https://dublin.ie/wp-content/themes/dublin.ie/images/svg/dublin.ie-logo-faint.svg'); background-size: 6%;background-color:#cdcdcd; ">
        <div class="wrapper">


                <header>
                    <h1>you might also like...</h1>
                </header>

                    </div>
        <div class="wrapper variable-cards-wrapper">

            <div class="articles">

    <article class="card small  live">
        <a class="overlay" href="https://dublin.ie/live/things-to-do/galleries/"></a>
        <picture class="img"><img class="" src="https://cdn.dublin.ie/wp-content/uploads/1.7.3-Live-things-to-do-galleries_450x450.jpg" srcset="" sizes="(max-width: 450px) 100vw, 450px" alt="National Gallery of Ireland"></picture>
        <div class="text">
            <header>
                <h3>live</h3>
                <h2><a href="https://dublin.ie/live/things-to-do/galleries/">Art galleries in Dublin</a></h2>
            </header>
            <div class="summary">
                <p>Dublin is graced with a wide variety of galleries and most of them are free entry!</p>
            </div>
        </div>
    </article>
    <article class="card small  live">
        <a class="overlay" href="https://dublin.ie/live/things-to-do/nightlife/"></a>
        <picture class="img"><img class="" src="https://cdn.dublin.ie/wp-content/uploads/1.7.7.-Live-Things-to-do-nightlife_450x450_2.jpg" srcset="" sizes="(max-width: 450px) 100vw, 450px" alt="Dublin pub"></picture>
        <div class="text">
            <header>
                <h2><a href="https://dublin.ie/live/things-to-do/nightlife/">Nightlife</a></h2>
            </header>
            <div class="summary">
                <p>As anyone who has ever been to Dublin will tell you, we’ve got a vibrant nightlife. As the sun sets on the Liffey and darkness sets in, pubs, late bars and nightclubs fill with people looking for a great night out.
Bars and pubs
There are around 772 pubs in Dublin, so you won’t have a hard time finding somewhere to have a jar. (That’s Dublin slang for a pint!)
The city is divided into north and south by the River Liffey. Temple Bar, which is famously associated with Dublin’s nightlife, is located right by the river on the south side.</p>
            </div>
        </div>
    </article>
    <article class="card small  live">
        <a class="overlay" href="https://dublin.ie/live/things-to-do/parks-gardens/"></a>
        <picture class="img"><img class="" src="https://cdn.dublin.ie/wp-content/uploads/1.7.9-Live-Things-to-do-Parks-Gardens_450x450.jpg" srcset="" sizes="(max-width: 450px) 100vw, 450px" alt="St. Stephen's Green Dublin"></picture>
        <div class="text">
            <header>
                <h2><a href="https://dublin.ie/live/things-to-do/parks-gardens/">Parks and gardens</a></h2>
            </header>
            <div class="summary">
                <p>Dublin city is no concrete jungle: it’s dotted with open spaces where you can stretch your legs, get some fresh air and soak up nature. It’s just one of the many perks of Dublin life. Here’s an introduction to just a few of the city’s best parks and gardens.
Dublin Parks
The city’s most notable outdoor space is the Phoenix Park, which is one of the largest urban parks in Europe. Its 11km long perimeter wall encloses 1,752 acres of parkland. (This is more than twice the size of New York’s Central Park.)</p>
            </div>
        </div>
    </article>            </div>
        </div>
    </section>
</div>
</div>
</div>
</body>
</html>