<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">Tulip Weather</title>
    <link href="../styles/SubPageStyleWeather.css" rel="stylesheet" type="text/css">
    <link href="../styles/subPageStyle.css" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>
</head>
<body>
<div class="upperMenu">
    <s class="title">Destination information</s>
    <button class="upperMenuButton" id="settings"><i class="fa-solid fa-sliders fa-xs"></i></button>
    <button class="upperMenuButton" id="back"><a href="/"> <i class="fa-solid fa-reply fa-xs" style=""></i></a></button>
</div>
<div class="content">
    <div class="nav">
        <div class="home">
            <a href="/destination">Home</a>
        </div>
        <div class="weather">
            <a href="/destination/weather">Weather</a>
        </div>
        <div class="sights">
            <a href="/destination/sights">Sights</a>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="left">
            <img src="" alt="">
        </div>
    </div>
</div>
    
</body>
</html>