<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>

    <link rel="stylesheet" href="../styles/chatroom.css">
    <link href="../styles/subPageStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="upperMenu header">
        <s class="title">Chat</s>
        <button id="settings" class="upperMenuButton"><i class="fa-solid fa-sliders fa-xs"></i></button>
        <button id="terug" class="upperMenuButton"><a href="/">
            <i class="fa-solid fa-reply fa-xs"></i></a>
        </button>
    </div>
    <div id="center">
        <div class="content">
            <div class="messages"></div>
            <div class="send-messages">
                <input type="text" id="msg" placeholder="Enter message...">
                <button class="chatbtn" onclick="sendMessage()">Send</button>
            </div>
        </div>

    </div>

    <script src="../socket.io/socket.io.js"></script>
    <script src="../Toast.js"></script>
    <script src="../js/chatroom.js"></script>
</body>
</html>