<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">Tulip Weather</title>
    <link href="../styles/SubPageStyleWeather.css" rel="stylesheet" type="text/css">
    <link href="../styles/subPageStyle.css" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>
</head>
<body>
<div class="upperMenu">
    <s class="title">Weather</s>
    <button class="upperMenuButton" id="settings"><i class="fa-solid fa-sliders fa-xs"></i></button>
    <button class="upperMenuButton" id="back"><a href="/"> <i class="fa-solid fa-reply fa-xs" style=""></i></a></button>
</div>
<div class="content">
    
</div>
</div>
</body>
</html>