<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Tulip Air home</title>
    <link href="../styles/earthStyling2.css" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<header>
    <img id="logoHead" alt="logo" src="../../assets/images/logo.png">

    <div class="nav_flight_info">
        <div class="from">AMS</div>
        <div class="flight-duration-line">
            -----<i class="fa-solid fa-plane fa-xs"></i>------------
        </div>
        <div class="dest">DUB</div>
        <div class="time">3:30 / 7:30</div>
    </div>

    <div class="right">
        <div class="settings">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        </div>
    </div>
</header>

<div id="earthLabels">
    <svg height="500" viewBox="0 0 714 400" width=500/>
        <g id="Teksten">
            <text class="svgTextClass" transform="matrix(1 0 0 1 130 62)">Weather</text>
            <text class="svgTextClass" transform="matrix(1 0 0 1 80 202)">Games</text>
            <text class="svgTextClass" transform="matrix(1 0 0 1 130 342)">Shop</text>
            <text class="svgTextClass" transform="matrix(1 0 0 1 525 62)">Media</text>
            <text class="svgTextClass" transform="matrix(1 0 0 1 588 202)">Chat</text>
            <text class="svgTextClass" transform="matrix(1 0 0 1 485 342)">Travel info</text>
        </g>
        <g id="Labels">
            <g id="weerLabel">
                <a href="/Weather">
                    <rect class="svgLineClass" height="30" rx="10" width="130" x="120" y="40"></rect>
                </a>
                <line class="svgLineClass" x1="336" x2="250" y1="120" y2="55"/>
                <circle class="svgCircleClass" cx="342" cy="120" r="5"/>
            </g>
            <g id="gamesLabel">
                <a href="/games">
                    <rect class="svgLineClass" height="30" rx="10" width="130" x="70" y="180"></rect>
                </a>
                <line class="svgLineClass" x1="305" x2="200" y1="200" y2="195"/>
                <circle class="svgCircleClass" cx="311" cy="200" r="5"/>
            </g>
            <g id="winkelLabel">
                <a href="/webshop">
                    <rect class="svgLineClass" height="30" rx="10" width="130" x="120" y="320"></rect>
                </a>
                <line class="svgLineClass" x1="345" x2="250" y1="275" y2="335"/>
                <circle class="svgCircleClass" cx="351" cy="275" r="5"/>
            </g>
            <g id="mediaLabel">
                <rect class="svgLineClass" height="30" rx="10" width="130" x="465" y="40"></rect>
                <line class="svgLineClass" x1="426" x2="465" y1="174" y2="55"/>
                <circle class="svgCircleClass" cx="423" cy="178" r="5"/>
            </g>
            <g id="chatLabel">
                <a href="../chat-page/chatbox.html">
                    <rect class="svgLineClass" height="30" rx="10" width="130" x="515" y="180"></rect>
                </a>
                <line class="svgLineClass" x1="375" x2="514" y1="214" y2="195"/>
                <circle class="svgCircleClass" cx="372" cy="214" r="5"/>
            </g>
            <g id="infoLabel">
                <rect class="svgLineClass" height="30" rx="10" width="130" x="465" y="320"></rect>
                <line class="svgLineClass" x1="362" x2="465" y1="257" y2="335"/>
                <circle class="svgCircleClass" cx="357" cy="254" r="5"/>
            </g>
        </g>
    </svg>
</div>

</body>
</html>