<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../styles/subPageStyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../styles/media.css">

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>
    <title>Movie theater</title>
</head>
<body>
<div class="upperMenu header">
    <s class="title">Movie theater</s>
    <button id="settings" class="upperMenuButton"><i class="fa-solid fa-sliders fa-xs"></i></button>
    <button id="terug" class="upperMenuButton"><a href="/">
            <i class="fa-solid fa-reply fa-xs"></i></a></button>
</div>

<div class="content">
    <div class="videoHolder" >
        <video class="video">
            <source src="/../../assets/video/bigAd.mp4" type="video/mp4">
        </video>
        <div class="controls">
            <div class="controlBar"></div>
            <div class="buttons">
                <button id="playPause"></button>
            </div>
        </div>
    </div>
</div>

</body>
</html>