<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link href="../styles/subPageStyle.css" rel="stylesheet" type="text/css">
    <link href="../styles/webshop.css" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>

    <title>Tulip Air - webshop</title>
</head>
<body>
<div class="upperMenu header">
    <s>Shop</s>
    <button id="settings" class="upperMenuButton"><i class="fa-solid fa-sliders fa-xs"></i></button>
    <button id="terug" class="upperMenuButton"><a href="/">
    <i class="fa-solid fa-reply fa-xs"></i></a></button>
</div>

<div class="header contentBox content">

    <div class="row">
        <div class="col-2">
            <h1>Welcome to the <br> Webshop of Tulip Air</h1>
            <p>Choose your products and we deliver it!</p>

        </div>
        <div class="col-2">
            <img src="../../assets/images/webshop/phoneplane.jpg" alt="person hold phone">
        </div>
    </div>

    <div class="navbar">
        <nav class="filter-nav">
            <ul class="indicator">
                <li data-filter="drinks"><a href="#" class="nav-a">Drinks</a></li>
                <li data-filter="food"><a href="#" class="nav-a">Food</a></li>
            </ul>
            <div class="filter-condition">
                <span>View as </span>
                <select name="" id="sortOnPrice">
                    <option value="Default">Default</option>
                    <option value="prijsOplopend">prijs oplopend</option>
                    <option value="prijsAflopend">prijs aflopend</option>
                </select>
            </div>
        </nav>
    </div>
    <div class="product-field">
        <ul class="items">
            <% if (products.length > 0) { %>
                <% products.forEach(product => { %>
                    <li data-category="" data-price="">
                        <picture>
                            <img src="<%= product.img %>" alt="">
                        </picture>
                        <div class="detail">
                            <p class="icon">
                                <span><i class="far fa-heart"></i></span>
                                <span><i class="far fa-square"></i></span>
                                <span><i class="fas fa-shopping-basket"></i></span>
                            </p>
                            <strong><%= product.name %></strong>
                            <span><%= product.description %></span>
                            <button>Buy now</button>
                        </div>
                        <h4>€ <%= product.price %></h4>
                    </li>
                <% }) %>
            <% } else { %>
                <p>No products found</p>
            <% } %>
        </ul>
    </div>
</div>

<script src="../js/webshop.js"></script>
</body>
</html>