<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tulip Air - Game Center</title>
    <link href="../styles/mediaStyle.css" rel="stylesheet" type="text/css">
    <link href="../styles/subPageStyle.css" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>
</head>
<body>
<div class="upperMenu">
    <span class="title">Media</span>
    <button class="upperMenuButton" id="settings"><i class="fa-solid fa-sliders fa-xs"></i></button>
    <button class="upperMenuButton" id="back"><a href="/"><i class="fa-solid fa-reply fa-xs"></i></a></button>
</div>
<div class="content" id="Preface">
    In the media room you can watch a movie and listen to some music.
</div>
<div class="content">
    <a href="/media/movieList"><span class="headItem"><img alt="Movies" class="gameImage"
                                                 src=""></span></a>
    <a href="/media/musicList"><span class="headItem"><img alt="Music" class="gameImage"
                         src=""></span></a>
</div>
</body>
</html>