<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/gameStyles/breakout.css" rel="stylesheet" type="text/css">
    <link href="../styles/gamesStyle.css" rel="stylesheet"type="text/css">
    <link href="../styles/subPageStyle.css" rel="stylesheet"  type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>
    <title> Tulip Air Breakout Game </title>
</head>
<style>
    body{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    canvas{
        border:1px solid black;
    }
</style>

<body>
<div class="upperMenu">
    <s class="title">Breakout</s>
    <button class="upperMenuButton" id="settings"><i class="fa-solid fa-sliders fa-xs"></i></button>
    <button class="upperMenuButton" id="back"><a href="/games"> <i class="fa-solid fa-reply fa-xs" style=""></i></a></button>
</div>
    <h1> Score: <span id='score'></span></h1>
    <canvas></canvas>

    <script src= 'breakout.js'> </script>
    <script src= 'breakoutPaddle.js'> </script>


<div class="grid"></div>

</body>
</html>