<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/gameStyles/breakout.css" type="text/css">
    <link rel="stylesheet" href="public/styles/gamesStyle.css" type="text/css">
    <link rel="stylesheet" href="public/styles/subPageStyle.css" type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>
    <script src="public/js/breakout.js"></script>
    <title> Tulip Air Breakout Game </title>
</head>

<body>
<h1 id="score">0</h1>
<div class="grid"></div>

</body>
</html>