!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Breakout Game </title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Germania+One">
</head>
<body>
<div class="sound">
    <img class= "sound on" src="../../../assets/images/gamesImages/imgBreakout/SOUND_ON.png" alt="" id="sound">
</div>

<div id="gameover">
    <img src="../../../assets/images/gamesImages/imgBreakout/youwon.png" alt="" id="youwon">
    <img src="../../../assets/images/gamesImages/imgBreakout/gameover.png" alt="" id="youlose">
    <div id="restart">Play Again!</div>
</div>

<canvas id="breakout" width="400" height="500"></canvas>

<script src="breakoutComponents.js"></script>
<script src="breakoutStyle.css"></script>
</body>
</html>