<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tulip Air - Game Center</title>
    <link href="../styles/gamesStyle.css" rel="stylesheet" type="text/css">
    <link href="../styles/subPageStyle.css" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>
</head>
<body>
<div class="upperMenu">
    <s class="title">Games</s>
    <button class="upperMenuButton" id="settings"><i class="fa-solid fa-sliders fa-xs"></i></button>
    <button class="upperMenuButton" id="back"><a href="/"><i class="fa-solid fa-reply fa-xs"></i></a></button>
</div>
<div class="content">
    <a href="/games/memory"><s class="item"><img alt="A game to choose" class="gameImage"
                                                 src="assets/images/gamesImages/GameIcon_Memory.jpg"></s></a>
    <a href="/games/noughtCrosses"><s class="item"><img alt="A game to choose" class="gameImage"
                         src="assets/images/gamesImages/GameIcon_Noughtcrosses.jpg"></s></a>
    <a href="/games/snake"><s class="item"><img alt="A game to choose" class="gameImage"
                         src="assets/images/gamesImages/snake-game-icon.png"></s></a>
    <a href="/games/breakout"><s class="item"><img alt="A game to choose" class="gameImage"
                                                   src="assets/images/gamesImages/GameIcon_Breakout.jpg"></s></a>
    <s class="item"><img alt="A game to choose" class="gameImage"
                         src="assets/images/gamesImages/ControllerGeel.jpg"></s>
    <s class="item"><img alt="A game to choose" class="gameImage"
                         src="assets/images/gamesImages/ControllerGroen.jpg"></s>
</div>
</body>
</html>