<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tulip Air - Noughts and Crosses</title>
    <link href="../styles/gamesStyle.css" rel="stylesheet" type="text/css">
    <link href="../styles/gameStyles/noughtCrossesStyle.css" rel="stylesheet" type="text/css">
    <link href="../styles/subPageStyle.css" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>
    <script src="../js/noughtCrossesGedrag.js"></script>
    <!-- This game of noughts and crosses is based on code from Jessie Beesch and adjusted by Annette Blank -->
</head>

<body>
<div class="upperMenu">
    <s class="title">Noughts and Crosses</s>
    <button class="upperMenuButton" id="settings"><i class="fa-solid fa-sliders fa-xs"></i></button>
    <button class="upperMenuButton" id="back"><a href="/games"> <i class="fa-solid fa-reply fa-xs" style=""></i></a></button>
</div>

<div class="content">
    <div class="container" id="game">
        <div class="box" id="0" onclick="setBox(this)"></div>
        <div class="box" id="1" onclick="setBox(this)"></div>
        <div class="box" id="2" onclick="setBox(this)"></div>
        <div class="box" id="3" onclick="setBox(this)"></div>
        <div class="box" id="4" onclick="setBox(this)"></div>
        <div class="box" id="5" onclick="setBox(this)"></div>
        <div class="box" id="6" onclick="setBox(this)"></div>
        <div class="box" id="7" onclick="setBox(this)"></div>
        <div class="box" id="8" onclick="setBox(this)"></div>
    </div>
</div>

<div id="winScreen">
    <span id="winText">X has won!</span>
    <br>
    <button id="restartButton" onclick="restartGame('game')">Restart</button>
</div>

<div class="sideButton" onclick="restartGame('game')">Restart game</div>
</body>

</html>