<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tetris</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../styles/gameStyles/tetris.css" rel="stylesheet" >
    <link href="../js/tetris_controller.js">
    <link href="../js/tetris_render.js">
    <link href="../js/tetris.js" rel="stylesheet">
    <link rel="stylesheet" href="../styles/gamesStyle.css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>
    <link href="../styles/subPageStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<audio id="clearsound" src="../assets/images/sound/pop.ogg" preload="auto"></audio>
<canvas width='300' height='600'></canvas>
<button id="playbutton" onclick="playButtonClicked();">Play</button>

</body>
</html>
