* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url(../../assets/images/bck.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* header */
header {
    height: 80px;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    justify-content: space-between;
    display: flex;
    color: #fff;
    font-size: 25px;
    margin: auto 0;
    padding: 0 100px;
}

header img {
    height: 80px;
}

.flight-info {
    display: flex;
    margin: auto 0;
    width: 40%;
}

.right {
    display: flex;
}

.settings {
    padding: 0 80px;
}

.from {
    padding: 0 50px;
}
.dest {
    padding: 0 50px;
}

/* end header */