* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../../assets/images/bck.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* header */
header {
    height: 80px;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    justify-content: space-between;
    display: flex;
    color: #fff;
    font-size: 25px;
    margin: auto 0;
    padding: 0 100px;
}

header img {
    height: 80px;
}

.nav_flight_info {
    display: flex;
    margin: auto 0;
    width: 50%;
}

.right {
    display: flex;
}

.settings {
    padding: 0 80px;
}

.from {
    padding: 0 50px;
}
.dest {
    padding: 0 50px;
}
/* end header */

.container {
    margin: 0 120px;
}

.cards_info {
    margin: 50px 0;
}
.card_column {
    float: left;
    width: 20%;
    padding: 0 10px;
    margin: 10px;
}

.card_row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #000;
    opacity: 0.7;
    color: #fff;
    height: 175px;
    border-radius: 8%;
    font-weight: 700;
}

.card img {
    height: 40px;
    width: 40px;
}

.card_big img {
    height: 100px;
    width: 100px;
}

.card .img {
    margin: auto auto;
    display: flex;
}

.card .text {
    font-size: 30px;
}

.card_big .text {
    font-size: 40px;
}

.card_row_big::after{
    content: "";
    display: table;
    clear: both;
}

.card_column_big {
    float: left;
    width: 30%;
    padding: 0 10px;
    margin: 100px 0 0 10px;
}

.card_big {
    margin: -70px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #000;
    opacity: 0.7;
    color: #fff;
    height: 250px;
    border-radius: 8%;
    font-weight: 700;
}

.flight_info {
    color: white;
    margin-right: 150px;
    margin-top: 30px;
    position: absolute;
    right: 100px;
}

.weather {
    display: flex;
    width: 400px;
    justify-content: space-between;
    font-size: 40px;
    margin: 20px 0 0 50px;
}

.timing {
    justify-content: space-around;
    margin-top: 80px;
    width: 500px;
    display: flex;
    font-size: 28px;
}

.timing h3 {
    font-size: 50px;
    font-weight: normal;
}