.container {
    background: rgba(135, 171, 126, 0.75);
    padding: 10px;
    width: 223px;
    border-radius: 8px;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.box {
    display: inline-block;
    border: 2px solid #2e3246;
    background: white;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 70px;
    min-height: 70px;
    font-size: 55px;
}

.box:hover {
    background: rgba(202, 224, 200, 0.75);
    transition: 0.2s ease-in;
}

.box h1 {
    line-height: 70px;
    margin: 0;
}

#winScreen {
    width: 300px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 2vh solid rgba(135, 171, 126, 1);
    border-radius: 2vh;

    display: none;
    position: fixed;
    z-index: 1;

    text-align: center;
    align-items: center;
    top: 20%;
    right: 37.5%;
    padding: 90px 0 0 0;
    font-size: 32px;
}

#restartButton {
    height: 60px;
    width: 120px;
    box-shadow: 5px 10px 10px rgba(119, 119, 119, 0.5);
    border-color: rgba(135, 171, 126, 0.75);
    border-width: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    transform: none;
    float: inherit;
    display: inline-block;
    top: 50px;
}

#restartButton:hover {
    height: 70px;
    width: 130px;
}