<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Name Hotspot - Secure Access!</title>
    <link href="CaptivePortal.css" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>
</head>
<title>Secure Access - Login</title>
<body>
<form method="post" action="$PORTAL_ACTION$">
    <input name="redirurl" type="hidden" value="$PORTAL_REDIRURL$">
    <input name="zone" type="hidden" value="$PORTAL_ZONE$">
    <center>
        <table cellpadding="6"
               cellspacing="0"
               height="380"
               style="border:1px solid #000000"
               width="780">
            <tr height="10" bgcolor="#139eea">
                <td align="center" style="border-bottom:1px solid #000000">
                    <font color='white'>
                        <b>
                            Welcome to Tulip Air Hotspot
                        </b></font></td>
            </tr>
            <tr>
                <td>
                    <center>
                            <table width="100%" border="0" cellpadding="5" cellspacing="0">
                                <tr>
                                    <td>
                                        <center>
                                            <div id="mainarea">
                                                <center>
                                                    <table width="100%" border="0" cellpadding="5" cellspacing="5">
                                                        <tr>
                                                            <td>
                                                                <center>
                                                                    <div id='statusbox'>
                                                                        <font color='red' face='arial' size='+2'>
                                                                            <b>

                                                                            </b>
                                                                        </font>
                                                                        <strong> Gain access to the internet.<br>
                                                                            Please enter your Username and Password or Voucher
                                                                        Code.<br><br>
                                                                        If you have any difficulties you may ask a flight attendant.<br><br>
                                                                        Kindly note that you will be exited after 5
                                                                        minutes if you don't log in.
                                                                        Access.<br><br></strong>
                                                                    </div>
                                                                    <br/>
                                                                    <div id='loginbox'>

                                                                        <table>
                                                                            <tr>
                                                                                <td align="right">&nbsp;</td>
                                                                                <td>User Log in</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right">Username:</td>
                                                                                <td><input name="auth_user"
                                                                                           type="text"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right">Password:</td>
                                                                                <td><input name="auth_pass"
                                                                                           type="password"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2" align="right">
                                                                                    &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right">&nbsp;</td>
                                                                                <td>Voucher</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right">Voucher Code:</td>
                                                                                <td><input name="auth_voucher"
                                                                                           type="text"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right">&nbsp;</td>
                                                                                <td><input name="accept"
                                                                                           type="submit"
                                                                                           class="button"
                                                                                           value="Continue"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right"></td>
                                                                                <td></td>
                                                                            </tr>


                                                                        </table>
                                                                        <br/>
                                                                        <hr/>

                                                                        <p>&nbsp;</p>
                                                                    </div>
                                                                </center>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </center>
                                            </div>
                                        </center>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </td>
            </tr>
            <tr bgcolor="#139eea" height="10">
                <td align="center" style="border-bottom:1px solid #000000">
                    <p><font color='white'>
                        <b>
                            ©Copyright 2022 Tulip Air Hotspot. All Rights Reserved®.
                        </b></font><br/>

            </tr>
        </table>
    </center>
</form>
</body>
</html>