body {
    background-image: url("../../assets/images/Aarde 3.jpg");
    background-size: 100%;
    background-color: #39647c;
    background-repeat: no-repeat;
    background-position: -200%;
    background-attachment: fixed;
    font-family: Calibri, sans-serif;
}

div {
    border-radius: 5px;
    box-sizing: content-box;
    background-color: rgba(245, 255, 254, 0.3);
    opacity: 1.0;
    margin: 5px auto;
    max-width: 900px;
    min-width: 125px;
    padding: 20px;
    text-align: center;
}
.upperMenu {
    background-color: white;
    border-radius: 10px;
    fill-opacity: 90%;
}
.offer {
    font-size: 24px;
    color: #139eea;
    text-align: center;
}
.bolder {
    border: 1px solid #FFF;
}
.copyright {
    font-size: 12px;
    text-align: center;
    color: #FFF;
}
.button {
    font-size: 16px;
    font-weight: bold;
}
body,td,th {
    color: #130101;
    font-family: Calibri, sans-serif;
    font-size: 16px;
}
