audio {
    width: 100%;
}

.content {
    /*text-align: center;*/
    background: black;
}
.videoHolder {
    width: 90%;
    /*max-width: 800px;*/
}
.video {
    width: 90%;
    max-height: 90vh;
    /*max-width: 800px;*/
}
.controls {
    background: #2e3246;
    width: 90%;
    height: 35px;
    margin: 0;
}
.controlButton{
    height: 30px;
    width: 30px;
    margin: 5px;
}
.leftButton{
    float: left;
    font-size: 20px;
    color: #2e3246;
}

.time {
    display: inline-block;
}