.content {
    display: flex;
}
.content.menu {
    display: grid;
    align-items: center;
}

.headItem{
    display: inline-block;
    width: 30vw;
    height: 30vh;
    border: 3px solid #39647c;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: left;
    box-shadow: 0 10px 10px rgba(119, 119, 119, 0.5);
}
.headItem:hover {
    width: 31vw;
    height: 31vh;
    margin: 5px;
    cursor: pointer;
}
.item {
    width: 95%;
    height: 50px;
    padding: 10px;
    border: 3px solid #39647c;
    border-radius: 10px;
    display: block;
    margin: 10px 0px;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: left;
    box-shadow: 0 10px 10px rgba(119, 119, 119, 0.5);

}
.item:hover {
    width: 96%;
    height: 55px;
    margin: 5px 0px;
    box-shadow: 0 15px 15px rgba(119, 119, 119, 0.5);
    cursor: pointer;
}
#player {
    width: inherit;
}