/* Memory */
.card {
    border: 2px solid #2e3246;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(119, 119, 119, 0.5);
    height: 150px;
    margin: 10px;
    padding: 7px;
    width: 100px;
}
.card:hover {
    width: 110px;
    height: 160px;
    margin: 5px;
    box-shadow: 0 15px 15px rgba(119, 119, 119, 0.5);
}
.matched {
    border: 2px solid #58e72d;
}

#Game {
    width: 600px;
}
/* End memory */