.chatbox {
    margin: 30px auto;
    height: 100%;
    max-width: 800px;
    max-height: 700px;
    border: 3px solid black;
    overflow: hidden;
    display: flex;
}

.inputField {
    border: 2px solid rgba(50, 50, 200);
    width: 100%;
    min-height: 40px;
    margin: 80% 5px 5px;
    display: flex;
    justify-content: space-between;
}

textarea {
    resize: none;
    width: 90%;
    margin: 2px;
    overflow: hidden;
}

.sendButton {
    margin: 2px;
    width: 50px;
    height: 37px;
    background-color: white;
    border-color: #39647c;
    border-width: 1px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}