:root{
    --gra: linear-gradient(45deg, cyan, royalblue);
}

/* welcomescreen */
.contentBox .row {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 5em;
    margin-left: 8em;
}

.contentBox .row img{
    height: 300px;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    line-height: 2em; 
    padding: 20px;
    text-align: center;
    font-size: larger;
}

nav {
    flex: 1;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

.nav-a {
    position: relative;
}

.nav-a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ff523b;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav-a:hover {
    font-weight: bolder;
    color: #000;
}
/* end nav */

/* product */
.product-field {
    padding: 40px 20px;
}
.product-field ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product-field ul li {
    width: 28%;
    height: 400px;
    transition: 0.5 all;
    background: whitesmoke;
    border-radius: 20px;
    padding: 10px;
    margin: 200px 10px 0 10px;
    position: relative;
    list-style: none;
}
picture {
    background: #eee;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 41%;
    width: 65%;
    height: 85%;
    border-radius: 50px 20px 0 20px;
    transform: skewY(40deg);
    overflow: hidden;
    box-shadow: 3px 3px 3px #00000020;
}

picture img {
    height: 50%;
    z-index: 1;
    transform: skewY(-40deg);
    padding: 25px 0 0 0;
    margin: 60px 0 0 30px;
}

.detail {
    width: 100%;
    height: 100%;
}

.detail .icon {
    width: 30%;
    height: 55%;
    padding: 20px 5px;
}
.icon span {
    background: #00000030;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    margin: 0 0 20px 5px;
    font-size: 20px;
    color: white;
}

.icon span:hover {
    background: var(--gra);
    cursor: pointer;
}

 .detail strong {
     display: inherit;
     margin: 10px;
     font-size: 30px;
     letter-spacing: 1px;
     color: #555;
 }
 .detail>span {
     display: inherit;
     padding: 0 20px;
     width: 80%;
 }

 .detail button {
     display: inline-block;
     padding: 8px 20px;
     margin: 15px;
     font-weight: bold;
     border-radius: 6px;
     border: 1px solid #999;
     cursor: pointer;
 }

 .detail button:hover {
     background-color: var(--gra);
 }
 li h4 {
     position: absolute;
     right: 10px;
     top: 40%;
     font-size: 30px;
 }