 /* breakout.css */
 .grid {
     position: absolute;
     width: 720px;
     height: 500px;
     border: solid 2px black;
     margin-top: 80px;
 }
 .block {
     position: absolute;
     width: 100px;
     height: 20px;
     background-color: blue;
 }

 .ball {
     position: absolute;
     width: 20px;
     height: 20px;
     border-radius: 10px;
     background-color: red;
 }